.row
  .col-xs-12
    .row
    - @contents.each do |content|
      .col-xs-4.admin-text
        %h5= content.identifier
        .row
          .col-xs-12
            %p
              =render inline: content.text
            - if content.pages
              - string = "On Pages:"
              - content.pages.each do |page|
                - string += " <a href='pages/#{page.id}/edit'>#{page.controller}##{page.action}</a>"
              %p
                =render inline: string
        .row
          .col-xs-12
            = button_to "Edit", edit_content_path(content.id), :method => :get
            = button_to "Delete", content, data: { confirm: "Are you sure you want to delete this content?" }, :method => :delete

