.row
  .col-xs-12
    - @pages.each do |page|
      .row
        .col-xs-12
          %h2=page.title
          %p
            #{page.controller}##{page.action}
          = button_to "Edit", edit_page_path(page.id), :method => :get
          = button_to "Delete", page, data: {confirm: "Are you sure you want to delete the page at #{page.controller}##{page.action}?"}, :method => :delete
